<div class="container" style="overflow:auto;">
    <div class="mat-elevation-z8">

        <mat-table [dataSource]="listData" matSort style="padding: 20px;">
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

            <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row" id="option">
                    <button mat-icon-button color="warn" (click)="removeHandler(row.id)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <button mat-icon-button (click)="editHandler(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                </mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="birthTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>تاریخ تولد</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.birthTime | momentJalaali:'jYYYY/jMM/jDD' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>نام خاتوادگی</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.lastName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>نام</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>شناسه</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            </ng-container>

        </mat-table>
    </div>
    <button class="btn btn-danger" type="button" id="add-btn" (click)="addHandler()">افزودن</button>
</div>
