<div class="container">
    <h2 class="d-flex justify-content-center header"> معــرفی پـورتـال کـارمنـــد </h2>
    <hr>
    <article class="d-flex justify-content-center main">
        (DCMS)پورتال کارمند، بسته‌ای یکپارچه و مبتنی بر وب از ماژول‌ها و زیرسیستم‌های اطلاعاتی سیستم مدیریت محتوای دیبا
        است که با هدف ارائه اطلاعات متمرکز به کارمند،
        از وضعیت شغلی و سایر اطلاعات فردی و افراد تحت تکفل وی ایجاد شده و
        این موارد را در قالب یک داشبورد اختصاصی به هر کارمند فراهم نموده است
    </article>
</div>
